useDynLib(JCM)
export("emmix","emmixMOD",
"init.mix","initEmmix","getICL",
"emmixfit1","emmixfit2",
"rdmvn","rdmvt","rdmst","rdmsn",
"rdemmix","rdemmix2","rdemmix3",
"ddmvn","ddmvt","ddmst","ddmsn","ddmix",
"conplot","conplot2","conplot3",
"emmix.filter","emmix.contours","emmix.flow",
"do.kld","entropy",
"inverse","getcov","mvt.dof",
"error.rate","F.Measures",
"bootstrap","bootstrap.noc",
"msmvn","msmvt","msmsn","msmst",
"jcamst","jcamvt","jcamst.predict","jcamvt.predict",
"plotmixt.skew","do.features",
"do.unzip","do.mix","do.jcm","do.template",
"JCM.template")

importFrom(mvtnorm,rmvnorm)

